@import './vars.css';
@import './reset';
@import '../../shared/assets/fonts/fonts.css';
@import './mixins';

html {
    font-family: var(--ff);
    font-weight: var(--fw);
    font-size: var(--fz);
}

body {
    background-color: var(--bg-main);
}


.h1, h1 {
    font-weight: 600;
    font-size: var(--fz-l);
    line-height: 1.272em;
    letter-spacing: 0%;
    color: var(--black-main);
    cursor: default;
}

.h3, h3 {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.285em;
    letter-spacing: 0%;
    color: var(--black-translucent-subtitle);
}


/**
    CHANGES FOR ANTD STEPS COMPONENT
**/

.mySteps{
    .ant-steps-item-icon{
        width: 20px;
        height: 20px;
        font-size: var(--fz-s);
        line-height: 20px;

        .ant-steps-icon{
            top: -1.5px !important;
        }
    }

    .ant-steps-item-content{
        .ant-steps-item-title{
            font-size: var(--fz);
            line-height: 20px;

            &::after{
                top: 11px;
            }
        }
    }

    .ant-steps-item-active{
        .ant-steps-item-content{
            .ant-steps-item-title{
                color: var(--accent) !important;
            }
        }
    }
}


/**
    CHANGES FOR ANTD SELECT COMPONENT
**/
.mySelect{
    .ant-select{
        width: 155px;
        height: 40px;
    }

    .ant-select-selection-search{
        input {
            font-family: var(--ff) !important;
            font-weight: 500 !important;
            font-size: var(--fz) !important;
        }
    }

    .ant-select-selector{
        border-color: var(--black-stroke-translucent) !important;
        border-radius: 10px;
        padding: 0 15px !important;
        transition: .4s linear;

        & + .ant-select-arrow {
            svg {
                transition: .25s linear;
            }
        }

        &:hover{
            background: var(--black-buttons-back) !important;

            & + .ant-select-arrow {
                svg {
                    stroke: var(--accent) !important;
                }
            }
        }
    }

    .ant-select-focused {
        .ant-select-selector{
            box-shadow: none !important;
            background: var(--background-color-schedule) !important;

            .myLabel{
                color: var(--accent) !important;
            }

            & + .ant-select-arrow {
                svg {
                    stroke: var(--accent);
                    transform: rotate(-180deg);
                }
            }
        }
    }

    &.noRotateSuffixIcon{
        .ant-select-selector{
            & + .ant-select-arrow {
                svg {
                    transform: none;
                }
            }
        }
    }

    &.justSelected{
        .ant-select-selector{
            background: var(--white) !important;

            .myLabel{
                color: var(--black-main) !important;
            }

            & + .ant-select-arrow {
                svg {
                    stroke: var(--black-main);
                    transform: rotate(0deg);
                }
            }

            &:hover{
                background: var(--black-buttons-back) !important;
    
                & + .ant-select-arrow {
                    svg {
                        stroke: var(--accent) !important;
                    }
                }
            }
        }
    }
}

.ant-select-item.ant-select-item-option-active{
    color: var(--white) !important;
    background-color: var(--accent) !important;
}

.ant-select-item.ant-select-item-option{
    font-weight: 600;
}

.ant-select-item.ant-select-item-group{

}

/**
    REDEFINE TOAST VARS
*/

:root {
    --toastify-color-light: #fff;
    --toastify-color-dark: #121212;
    --toastify-color-info: var(--accent);
    --toastify-color-success: #07bc0c;
    --toastify-color-warning: #FFA000;
    --toastify-color-error: #e74c3c;
}

/* OVERWRITE ANTD NOTIFICATIONS */

.ant-notification-notice{
    cursor: pointer;
}

.ant-notification{
    font-family: var(--ff);
}

.ant-notification-notice-message{
    font-weight: 600;
}

.ant-notification-notice-description{
    font-weight: 500;
}

/* OVERWRITE ANT MODAL */

.ant-modal-content{
    border-radius: 20px !important;
    padding: 0 !important;
}


/* ANT TABS IN PROFILE PAGE */
.profile-tabs{
    .ant-tabs-nav {
        margin: 0;

        &::before {
            border: none;
        }

        .ant-tabs-ink-bar-animated{
            display: none;
        }
    }

    .ant-tabs-nav-list{
        gap: 24px;

        
    }

    .ant-tabs-tab-active{
        div {
            color: var(--black-main) !important;
        }    
    }


    .ant-tabs-tab{
        position: relative;
        margin: 0 !important;
        padding: 0 !important;
        font-weight: 500 !important;
        font-size: var(--fz-l);
        line-height: 1.272em;
        letter-spacing: 0%;
        color: var(--black-translucent-subtitle);

        &::after {
            content: '';
            position: absolute;
            right: -12px; // half from gap in ant-tabs-nav-list
            width: 2px;
            height: 100%;
            background: var(--black-stroke-translucent);
        }

        &:nth-last-child(2){
            &::after{
                display: none;
            }
        
        }

        &:hover {
            color: var(--black-main);
        }

        
    }
}