@import './mixins';

.onMobileSubjectFilter{
    @include lessThan(sm) {
        .ant-select-selection-item {
            display: none;
        }

        .ant-select{
            width: 40px;
        }
    }
}

@include lessThan(sm) {
    .ant-select-dropdown{
        min-width: 150px;
    }
}

.ant-modal-body{
    @include lessThan(sm) {
        padding: 20px !important;
        padding-bottom: 80px !important;
    }
}

.ant-modal-root .ant-modal {
    @media (width <= 533px) {
        max-width: calc(100vw - 3px) !important;
    }
}