:root {
    --sidebar-width: 216px;
    --schedule-width: 337px;

    /* fonts */
    --ff: 'Inter';
    --fz: 14px;
    --fw: 500;
    --fz-l: 1.571rem;
    --fz-m: 1.285rem;
    --fz-s: 0.857rem;

    /* colors */
    --bg-main: #F3F5FB;
    --accent: #2962FF;
    --white: #FFF;
    --black-blue: #214ECC;
    --black-main: #1E1E1E;
    --black-buttons-back: rgb(30 30 30 / 7%);
    --background-color-schedule: #EEF3FF;
    --black-translucent-subtitle: rgb(30 30 30 / 60%);
    --black-stroke-translucent: #E4E4E4;
}