@import '../../../app/styles/mixins';

.HomeworkDones{
    
}

.header {
    display: flex;
    align-items: center;
    gap: 8px;
}

.headerWeekparity{
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 10px 15px;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1;
    background: var(--black-buttons-back);
}

.usersWrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;

    

    @include lessThan(sm) {
        margin-top: 15px;

        .empty {
            margin-top: 15px;
        }
    }
}