.Comments{

}

.empty{
    margin: 10px 0;
    color: var(--black-translucent-subtitle);
}

.inputWrapper{
    margin-top: 20px;
}

.controls {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    gap: 12px;

    button {
        width: max-content;
    }
}

.uploadedFiles{
    margin-top: 12px;
    max-width: 60%;
}

.fileControls{

}
