$border-radius: 10px;

.ScheduleCard{
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--accent);
    border-radius: $border-radius;
    padding: 9px 18px;
    font-size: var(--fz-s);
    color: var(--accent);
    background: var(--white);
    transition: .2s ease-in-out;
    cursor: pointer;

    &.open {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.state {
    &.DO {
        // TODO: replace with vars
        border: 1px solid transparent;
        color: #FF6F00;
        background: #FFF8E1;
    }

    &.custom {
        border: 1px solid transparent;
        color: var(--black-blue);
        background: var(--background-color-schedule);
    }

    &.active {
        border: 1px solid transparent;
        color: var(--white);
        background: var(--accent);
    }
}

.leftSide{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.rightSide {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.type{

}

.title {
    font-weight: 600;
    font-size: 1rem;
}

.start {
    font-weight: 600;
    font-variant-numeric: tabular-nums;
}

.end {
    font-weight: 600;
    font-variant-numeric: tabular-nums;
}

.reactions{
    margin-top: 6px;
}

.extraContent {

}

.extraContentInner{
    display: flex;
    flex-direction: column;
    padding: 9px 18px;
    padding-top: 1em;
    gap: 10px;


    &.open {
        border-bottom-right-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
    }
}