.Dropdown {
    position: relative;
}

.label {
    overflow: hidden;
    font-weight: 600;
    font-size: var(--fz);
    letter-spacing: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.optRender{
    &:hover {
        background: var(--accent);
    }
}

.label2 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 12px;
    font-weight: 600;
    color: var(--black-translucent-subtitle);
    pointer-events: none;
}

.error{
    font-weight: 500;
    font-size: var(--fz-s);
    color: var(--red);
}