@import '../../../app/styles/mixins';

.TaskPage{
    
}

.avatarsBlock{
    margin-bottom: 30px;
}

.inputsWrapper{
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 1fr 1fr;
}

.header{
    margin-bottom: 20px;
    font-weight: 600;
    font-size: var(--fz-l);
}

.formWrapper{
    margin-top: 30px;
    margin-bottom: 40px;
}

.headerControls{
    button {
        width: max-content;
    }
}

.onMobileContent{
    @include lessThan(sm) {
        border: 1px solid var(--black-stroke-translucent);
        border-radius: 20px;
        padding-bottom: 100px;
        background: var(--white);
    }
}

.mobileHidden{
    @include lessThan(sm) {
        display: none;
    }
}

.mobileShowExitBtn{
    margin-top: 20px;

    button {
        width: 100%;
    }

    @include moreThan(sm) {
        display: none;
    }
}