.LayoutApp{
    display: flex;
    padding: 20px;
    height: 100vh;
    gap: 20px;
}

.LayoutPage{
    position: relative;
    border-radius: 25px;
    width: 100%;
    height:100%;
    background-color: var(--white);
}


$header-height: 94px;


.LayoutPageStickyHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--black-buttons-back);
    padding: 0 30px;
    width: 100%;
    height: $header-height;

    .startSlot{
        
    }

    .middleSlot {

    }

    .endSlot{
        display: flex;
        gap: 25px;
    }
}

.LayoutPageStickyContent{
    position:absolute;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px 30px;
    inset:$header-height 0 0 0;

    &::-webkit-scrollbar {
        width: 5px;
        height: 3px;
        background-color: var(--white);
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: var(--black-stroke-translucent);
    }
}

.LayoutPageBaseHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;

    // border-bottom: 1px solid var(--black-buttons-back);
    padding: 0 30px;
    width: 100%;
    height: $header-height;

    .startSlot{
        
    }

    .middleSlot {

    }

    .endSlot{
        display: flex;
        gap: 25px;
    }
}

.LayoutPageBaseContent{
    padding: 10px 30px;
    inset:$header-height 0 0 0;
}

.emptyData {
    pointer-events: none;
}