
.wrapper {
    input {
        display: none;
    }
}

.UploadInput{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    border-radius: 8px;
    width: 100%;
    font-family: var(--ff);
    font-weight: 600;
    font-size: var(--fz);
    color: var(--white);
    background-color: var(--black-main);
    transition: background-color .2s ease-in-out;
    cursor: pointer;

    &:hover {
        color: var(--white);
        background-color: var(--accent);
    }

    &:active {
        background-color: var(--black-translucent-subtitle);
    }
    
}

.md {
    padding: 11px 18px;
}

.lg {
    padding: 16px 34px;
}

.outline {
    border-color: var(--black-stroke-translucent);
    color: var(--black-main);
    background: transparent;

    &:hover {
        color: var(--black-main);
        background-color: var(--black-buttons-back);
    }

    &:active {
        color: var(--accent);
        background-color: var(--background-color-schedule);
    }
}

.withIcon{
    display: flex;
    gap: 10px;
}

.withIcon.outline{
    &:active {
        svg {
            stroke: var(--accent);
        }
    }
}

.pressed.loading {
    color: transparent; // to avoid btn height "jumping"
    background-color: var(--black-translucent-subtitle);
}

.pressed.loading.outline {
    color: transparent; // to avoid btn height "jumping"
    background-color: var(--background-color-schedule);
}

/* HTML: <div class="loader"></div> */
.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    mask: radial-gradient(farthest-side, #0000 calc(100% - 2px), #000 0); 
    border-radius: 50%;
    width: 16px; 
    height: 16px;
    background: 
        radial-gradient(farthest-side, var(--white) 94%, #0000) top/2px 2px no-repeat, /* Изменено значение размера градиента */
        conic-gradient(#0000 30%, var(--white));
    transform: translate(-50%, -50%);
    animation: l13 1s infinite linear;
    aspect-ratio: 1;
}

@keyframes l13{ 
    100%{transform: translate(-50%, -50%) rotate(1turn)}
}