.Reaction{
    position: relative;
}

.pickerWrapper {
    position: absolute;
    z-index: 100;
}


.addReact{
    display: flex;
    align-items: center;
    justify-content: center;  
    border-radius: 50%;  
    height: 22px;
    font-size: var(--fz-m);
    line-height: 1;
    cursor: pointer;

    // color: var(--black-translucent-subtitle);
    // background: var(--black-buttons-back);

    svg {
        width: 10px;
        height: 10px;
    }
}


.heart {
    display: flex;
    align-items: center;
    font-weight: 600;
    gap: 5px;

    svg {
        transition: .5s ease-in-out;
        cursor: pointer;

        &:hover {
            fill: #E91E63;
            
        }
    }

}

.liked {
    display: flex;
    align-items: center;
    font-weight: 600;
    gap: 5px;
}

.reactWrapper{
    display: flex;
    align-items: center;
    border-radius: 40px;
    padding: 3px 8px;
    width: max-content;
    font-weight: 600;
    color: var(--black-main);
    background: var(--black-buttons-back);
    cursor: pointer;
    gap: 5px;
}

.meReacted{
    & > .reactWrapper{
        color: var(--white);
        background: var(--accent);
    }    
}

.small {

}

.expanded {

}

.reactionsWrapper{
    display: flex;
    align-items: center;
    gap: 8px;
}

