@import '../../../app/styles/mixins';

.TaskPage{
    position: relative;
}

.headerBtn{
    flex-shrink: 0;
    width: max-content;
}

.top {
    display: flex;
    gap: 10px;

    .subject {
        font-weight: 600;
    }

    .date {
        font-weight: 600;
        color: var(--black-translucent-subtitle);
    }

    @include lessThan(sm) {
        flex-direction: column-reverse;

        .date {
            font-size: var(--fz-s);
        }
    }
}

.title {
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: var(--fz-l);
}

.deadline {
    position: absolute;
    right: 30px;
    top: 16px;
    padding: 0 20px;
    width: max-content;

}

.mobileDeadline {
    margin-top: 15px;
    height: 40px;
}


.content {
    overflow-wrap: anywhere;
}

.filesWrapper{
    margin: 25px 0 15px;
}

.bottomInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.views{
    font-size: var(--fz-s);
    color: var(--black-translucent-subtitle);
}

.controls {
    display: flex;
    align-items: center;
    gap: 22px;
}

.comments {
    margin: 30px 0;
}

.selectWithStatuses{
    
}


.mobileHidden {
    @include lessThan(sm) {
        display: none;
    }
}

.mobileShow {
    @include moreThan(sm) {
        display: none;
    }
}

.onMobileContent{
    @include lessThan(sm) {
        border: 1px solid var(--black-stroke-translucent);
        border-radius: 20px;
        background: var(--white);
    }
}

.mobileWidget{
    margin-top: 20px;
}