.PageLoader{
}


.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    width: max-content;
    transform: translate(-50%, -50%);
}

.gradientBorder {
    --border-width: 3px;

    position: relative;
    border-radius: var(--border-width);
    background: transparent;
}

.gradientBorder::after {
    content: '';
    position: absolute;
    left: calc(-1 * var(--border-width));
    top: calc(-1 * var(--border-width));
    z-index: -1;
    border-radius: calc(4 * var(--border-width));
    width: calc(100% + var(--border-width) * 1);
    height: calc(100% + var(--border-width) * 1);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    background-size: 300% 300%;
    filter: blur(50px);
    animation: animatedgradient 3s ease alternate infinite;
}
  
  
@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}