@import '../../../../app/styles/mixins';


.EmptyData{
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    color: var(--black-translucent-subtitle2);
    transform: translate(-50%, -50%);
}