.NewsLabel{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 8px 22px;
    font-weight: 600;
    color: var(--black-main);
    background: var(--black-buttons-back);
}