

.RecordFiles{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.file{
    display: flex;
    gap: 10px;
}

.fileExt {
    position: relative;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    font-size: var(--fz-s);
    color: var(--black-blue);
    background: var(--background-color-schedule);
    cursor: pointer;
    
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    

    .fileName {
        overflow: hidden;
        max-width: 200px;
        font-weight: 600;
        letter-spacing: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: var(--black-main);
        cursor: pointer;
    }

    .fileSize {
        color: var(--black-translucent-subtitle);
    }
}