@import '../../../app/styles/mixins';

.UserProfile{
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 11px;
    width: 100%;
    height: 73px;
    background-color: var(--white);
    
}

.UserProfile.small {
    cursor: pointer;
}

.UserProfile.expanded {
    height: initial;
}

.wrapper{
    display: flex;
    align-items: center;
    gap: 12px;

    @include lessThan(sm){
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    
}

.userInfo{
    display: flex;
    flex-direction: column;
    gap: 5px;
    
    .userInfoGroup{
        font-weight: 600;
        color: var(--black-translucent-subtitle);
    }
    
    .userInfoFIO{
        font-weight: 600;
    }
}

.avatar{
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    
    img, svg {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.expanded {
    .avatar {
        width: 117px;
        height: 117px;
    }

    .wrapper {
        gap: 20px;
    }

    .userInfo {
        gap: 8px;
    }

    .userInfoFIO{
        font-size: var(--fz-l);
    }

    .controls {
        display: flex;
        align-items: center;
        margin-top: 10px;
        gap: 15px;

        button {
            width: max-content;
        }

        @include lessThan(xxl) {
            display: none;
        }
    }

    .select{
        & > div {
            width: max-content;
        }
    }
}