.InDevelopmentBlock{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    height: 186px;
    color: var(--black-blue);
    background: var(--background-color-schedule);
    gap: 10px;
}