.Favorite{
    position: relative;
    display: flex;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
    gap: 5px;

    svg {
        fill: transparent;
        transition: .2s ease-in-out
    }
}

.meFavorite{
    svg {
        fill: var(--accent)
    }
}





