@import '../../../app/styles/mixins';


.header{
    margin-bottom: 20px;
    font-weight: 600;
    font-size: var(--fz-l);
}

.wrapper{
    margin-top: 30px;
    margin-bottom: 40px;
}

.onMobileContent{
    @include lessThan(sm) {
        border: 1px solid var(--black-stroke-translucent);
        border-radius: 20px;
        background: var(--white);
    }
}